{% extends 'blog/base.html' %}

{% load static %}
{% load humanize %}

{% block stylesheet %}
    <link href="{% static 'css/footer.css' %}" rel="stylesheet"/>
{% endblock %}


{% block content %}
	{% include 'blog/navbar.html' %}

		<h2 class="text-center text-capitalize font-weight-bold my-1">{{ category }}</h2>
		<div class="row mx-3 my-2">
		{% for blog in blogs %}
			<div class="col-sm-4">
				<div class="card mb-4">
			        <a href="{% url 'blog:viewpost' blog.id %}"><img class="card-img-top" src="{{ blog.related_image.url }}" alt="{{ blog.title }} photo" /></a>
			        
			        <div class="card-body">

			            <div class="small text-muted">{{ blog.date_added | naturaltime | naturalday }}</div>

			            <h2 class="card-title h4">{{ blog.title }}</h2>

			            {% autoescape off %}
			            <p class="card-text">{{ blog.short_description }}</p>
			            {% endautoescape %}

			            <a class="btn btn-primary" style="text-decoration: none;" href="{% url 'blog:viewpost' blog.id %}">Read more →</a>

			        </div>
			    </div>
			</div>
	    {% endfor %}
		</div>

{% include 'blog/footer.html' %}

{% endblock %}