{% extends 'blog/base.html' %}

{% load static %}

{% block stylesheet %}
    <link href="{% static 'css/footer.css' %}" rel="stylesheet"/>
{% endblock %}


{% block content %}

{% include 'blog/navbar.html' %}

<div class="row">
     <div class="col-sm-3">
        <div class="card card-body"> 
            <a href="{% url 'blog:viewpost' blog.id %}" class="btn btn-warning">Back</a>
            <hr>
            <h3 style="text-align: center;">Update</h3>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% autoescape off %}
                {{ form.as_p | safe }}
                {% endautoescape %}
                <button  class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% include 'blog/footer.html' %}

{% endblock content %}